<div class="task-item columns large-12">
    <div class="task-header columns large-9">
        <%- title %>
        <input class="edit-title" value="<%- title %>">
    </div>
    <div class="task-date columns large-3">
        <span><%= formatedTime %></span>
    </div>
    <div class="task-des columns large-12">
        <%- description %>
        <textarea class="edit-des" placeholder="Description"><%- description %></textarea>
    </div>
    <% if (state == 0 || state == 2 )%>
        <div class="task-action task-close"><i class="fa fa-times"></i></div>
    <% else if ( current_job )%>
        <div class="task-action task-stop"><i class="fa fa-pause"></i></div>
    <% else %>
        <div class="task-action task-play"><i class="fa fa-play"></i></div>
</div>

