ul{
list-style:none;
}

#header{
    background-color:#efefef;
    padding:5px;
}

#todo-form textarea{
    min-height:90px;
}

#todo-form input[type="button"] {
    min-width:100px;
    float:left;
}
#todo-form input.first-button{margin-top:60px;}

#main{
    margin-top:30px;
}

.task-list{
    margin:0px 0px 20px 0px;
}

.task-item{
    padding:5px;
    border:1px dotted #999;
    font-size:0.9em;
    margin: 5px 0px;
    position:relative;
}
.task-header{
    font-weight:bold;
    margin-bottom:5px;
    padding-bottom:5px;

}
.task-date{
    text-align:right;
}
.task-des{
    padding-top:10px;
    font-style:italic;
    border-top:1px solid #999;
}
.task-action{
    position:absolute;
    top:5px;
    left:5px;
    color:#999;
    cursor:pointer;
    display:none;
}

.task-item:hover > .task-action{
    display:block;
}

h3{ border-bottom:1px solid #aaa;}

.summary .item{
    margin-top:10px;
}

span.bold{font-weight:bold;}

.edit-header{display:none;}

.large-4.columns.droppable{min-height:150px;}
